@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=PT+Serif&family=Playfair+Display:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Poppins';
}

.logo {
    font-family: 'Playfair Display';
}

.subheading {
    font-family: 'PT Serif';
}

.button {
    font-family: 'Manrope';
}

.backgroundColor {
    background: linear-gradient(to right, white, blue.200, purple.600);
}

.gradientStyle {
    background: linear-gradient(to bottom, white, #D5A9FF);
}


.slide-in-left {
    animation: slideLeft 1s ease forwards;
  }
  

  .slide-in-right {
    animation: slideRight 1s ease forwards;
  }
  
  .slide-in-top {
    animation: slideTop 2s ease forwards;
    -webkit-animation: slideTop 2s ease forwards;
}
  @keyframes slideLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
}
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  


  /* YourComponent.css */
.custom-scrollbar {
  
  scrollbar-width: thin; 
  scrollbar-color: #8f1aa6 transparent;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 5px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ad34c6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


