@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=PT+Serif&family=Playfair+Display:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Poppins';
}

.logo {
    font-family: 'Playfair Display';
}

.subheading {
    font-family: 'PT Serif';
}

.button {
    font-family: 'Manrope';
}

.backgroundColor {
    background: linear-gradient(to right, white, blue.200, purple.600);
}

.gradientStyle {
    background: linear-gradient(to bottom, white, #D5A9FF);
}

